
<footer class="footer border-top">
    <div class="container text-center py-2">
        <span class="text-muted">
            <small class="footer-content">
                &copy; 2021 Hashy Codes.
                <br>
                See the GitHub repository <a href="https://github.com/copev313/Flask-Blog" target="_blank">here</a>. 
                Special thanks to <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g" target="_blank">Corey Schafer</a> for the amazing tutorials.
            </small>
        </span>
    </div>
</footer>
