
<div class="content-section sidebar">
    <h3 class="mt-2 mb-4">Quick Links</h3>
    <ul class="list-group mb-2 fw-500">
        <li class="list-group-item list-group-item-light">
            <a href="{{ url_for('posts.latest_posts') }}">Latest Posts</a>
        </li>

        <li class="list-group-item list-group-item-light text-muted disabled">
            Top Contributors
        </li>

        <li class="list-group-item list-group-item-light">
            <a href="{{ url_for('main.announcements') }}">Announcements</a>
        </li>

        <!--
            <li class="list-group-item list-group-item-light">
                <a href="#">etc</a>
            </li>
        -->
    </ul>
</div>