{% extends 'layout.html' %}


{% block content %}
    <h1>About</h1>
    <div class="mt-4 py-2">
        <p>
            Thanks for stopping by! This site was created to practice using Flask.
        </p>
            
        <p>
            Special shoutout to <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g" target="_blank">Corey Schafer</a> for the inspiration and tutorials that helped make this project possible.
        </p>

        <p>
            Take a look at some of the other projects I've created <a href="https://github.com/copev313/Flask-Blog" target="_blank">here</a>.
        </p>
    </div>
{% endblock content %}
