{% extends 'layout.html' %}


{% block content %}
    <h1 class="mb-5">Announcements</h1>

    <article class="media content-section">

        <div class="media-body ">
            <h2 class="article-title pt-3 pb-1 font-weight-bold">Welcome to the Initial Release!</h2>
            <div class="article-metadata text-right">
                <span class="text-muted pr-1">July 12, 2021</span>
            </div>
            
            <p class="article-content px-1">
                Hello Peeps,

                Welcome to the initial release of the Flask Blog web app. We have all the features you need to create an account, customize your profile, and make some posts.
                
                Feel free to browse around and stress test the site. There will be more to come! We plan on making bug fixes and adding new features in the future.

                Cheers,
                    --The Flask-Blog Dev Team
            </p>
        </div>
    </article>

{% endblock content %}